Classe Utente:

public class Utente implements Bean{
	
	private int id;
	private String username;
	private String password;
	private List<Treno> listaTreni;
	private Set<Ruolo> ruoli = new HashSet<>();
	
	
	public int getId() {
		return id;
	}
	public void setId(int id) {
		this.id = id;
	}
	public String getUsername() {
		return username;
	}
	public void setUsername(String username) {
		this.username = username;
	}
	public String getPassword() {
		return password;
	}
	public void setPassword(String password) {
		this.password = password;
	}
	public List<Treno> getListaTreni() {
		return listaTreni;
	}
	public void setListaTreni(List<Treno> listaTreni) {
		this.listaTreni = listaTreni;
	}
	public Set<Ruolo> getRuoli() {
		return ruoli;
	}
	public void setRuoli(Set<Ruolo> ruoli) {
		this.ruoli = ruoli;
	}
	
	
	
	public Utente() {
		super();
	}
	public Utente(String username, String password, Set<Ruolo> ruoli) {
		super();
		this.username = username;
		this.password = password;
		this.ruoli = ruoli;
	}
	
	public Utente(String username, String password, Set<Ruolo> ruoli, List<Treno> listaTreni) {
		super();
		this.username = username;
		this.password = password;
		this.ruoli = ruoli;
		this.listaTreni = listaTreni;
	}
//	@Override
//	public String toString() {
//		return "Utente [id=" + id + ", username=" + username + ", password=" + password + ", listaTreni=" + listaTreni
//				+ ", ruoli=" + getRuoli() + "]";
//	}
	
	
	
}

Classe Treno:

public class Treno implements Bean{

	private Integer id;
	private Integer marca;
	private List<Vagone> treno;

	public Treno() {
		treno = new ArrayList<>();
	}

	public List<Vagone> getTreno() {
		return treno;
	}

	public void addVagone(Vagone v) {
		treno.add(v);
	}

	public void removeVagone(Vagone v) {
		treno.remove(v);
	}

	public Integer getMarca() {
		return marca;
	}

	public void setMarca(Integer marca) {
		this.marca = marca;
	}

	public Integer getId() {
		return id;
	}

	public void setId(Integer id) {
		this.id = id;
	}

}

Classe TrenoDTO:

public class TrenoDTO {
	private Integer id;
    private Integer marca;
    private Integer idUtente;
    private String composizioneTrenoString;
    private Date dataCreazione;

    

    public TrenoDTO(Integer id, Integer marca, Integer idUtente, String composizioneTrenoString, Date dataCreazione) {
		super();
		this.id = id;
		this.marca = marca;
		this.idUtente = idUtente;
		this.composizioneTrenoString = composizioneTrenoString;
		this.dataCreazione = dataCreazione;
	}
    
	public Integer getMarca() {
		return marca;
	}

	public void setMarca(Integer marca) {
		this.marca = marca;
	}

	public Integer getIdUtente() {
		return idUtente;
	}

	public void setIdUtente(Integer idUtente) {
		this.idUtente = idUtente;
	}

	public String getComposizioneTrenoString() {
		return composizioneTrenoString;
	}

	public void setComposizioneTrenoString(String composizioneTrenoString) {
		this.composizioneTrenoString = composizioneTrenoString;
	}

	public Date getDataCreazione() {
		return dataCreazione;
	}

	public void setDataCreazione(Date dataCreazione) {
		this.dataCreazione = dataCreazione;
	}

	public Integer getId() {
		return id;
	}

	public void setId(Integer id) {
		this.id = id;
	}
}

Mapping Utente:

<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-mapping PUBLIC 
"-//Hibernate/Hibernate Mapping DTD//EN"
"http://www.hibernate.org/dtd/hibernate-mapping-3.0.dtd"> 

<hibernate-mapping>
   <class name="com.corso.utente.Utente" table="users">
        <id name = "id" type = "int" column = "id">
         <generator class="increment"/>
      </id>
	<property name = "username" column = "username" type = "string" unique="true"/>
	<property name = "password" column = "password" type = "string" />
	<list name="listaTreni" cascade="all">
      	<key column="utenteId"></key>
      	<index column="type" type="int"/>
      	<one-to-many class="com.corso.treno.Treno.DTO"/>
      </list>
	
        <!-- Definizione della relazione many-to-many con Role -->
        <set name="ruoli" table="utenti_ruoli">
            <key column="utente_id" />
            <many-to-many column="ruolo_id" class="com.corso.utente.Ruolo" />
        </set>
    </class>
	
	<class name="com.corso.utente.Ruolo" table="Ruoli">
    	<id name="id" type="int" column="id">
       		<generator class="increment" />
    	</id>
    	<property name = "ruolo" column = "tipo_ruolo" type = "string" />
	</class>
</hibernate-mapping>

Mapping TrenoDTO:

<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-mapping PUBLIC 
"-//Hibernate/Hibernate Mapping DTD//EN"
"http://www.hibernate.org/dtd/hibernate-mapping-3.0.dtd"> 

<hibernate-mapping>
   <class name = "TrenoDTO" table = "treni">
      
      <id name = "id" type = "int" column = "id">
         <generator class="native"/>
      </id>
      
      <property name = "marca" column = "id_marca" type = "int"/>
      <property name = "idUtente" column = "id_utente" type = "int"/>
      <property name = "composizioneTrenoString" column = "composizione_treno" type = "string"/>
      <property name = "dataCreazione" column = "data_creazione" type = "date"/>
      
   </class>
</hibernate-mapping>
/.metadata/
